@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
#eliah {width:750px;
  background: #1c1c1c;
padding-bottom:10px;
border-bottom:10px solid #25594F;}
#eliah .asas{background:url(https://static.vecteezy.com/system/resources/previews/001/203/213/non_2x/wing-png.png) center/cover;
  
width:240px;
height:145px;
position:relative;
display:inline-block;
top:20px;}
#eliah .cabes{background:#25594F url(https://i.imgur.com/9z2UnhF.gif)center/cover;
width:750px;
height:250px;}
#eliah .icon {width:100px;
height:100px;
background:center/cover;
display:inline-block;
border-radius:100px;
border:3px solid #000;
position:relative;
top:20px;}
#eliah .titulo{font: 900 40px Parisienne;
color: #000; 
line-height: 100%;
letter-spacing: 1px;
text-transform:none;}
#eliah .texto{font: 16px calibri;
color: #dddddd;
text-align: justify;
margin: 15px;
padding: 20px;
line-height: 100%;
position: relative;}
#eliah .frase{width:650px;
  font: italic 10px tahoma;
  color: #000;
  text-transform: lowercase;
margin-top:10px;}
